<!DOCTYPE html>
<!-- beautify ignore:start -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Dashboard</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/img/Logo-Negro.svg}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" th:href="@{/css/boxicons.css}" />
    
    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/css/demo.css}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script th:src="@{/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <!-- <script src="../assets/js/config.js"></script> -->
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a th:href="@{/Dashboard/Inicio}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img th:src="@{/img/Logo-Negro.svg}" alt="logo" style="height: 40px;">
              </span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <ul class="menu-inner py-1">
            <!-- Inicio -->
            <li class="menu-item active">
              <a th:href="@{/Dashboard/Inicio}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home"></i>
                <div data-i18n="Analytics">Inicio</div>
              </a>
            </li>
            <!-- Clases -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-book"></i>
                <div>Clases</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/Dashboard/ListaClase}" class="menu-link">
                    <div>Lista</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/Dashboard/NuevaClase}" class="menu-link">
                    <div>Nueva Clase</div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Estudiantes -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div>Estudiantes</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/Dashboard/ListaEstudiante}" class="menu-link">
                    <div>Lista</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/Dashboard/NuevoEstudiante}" class="menu-link">
                    <div>Nuevo Estudiante</div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Instructores -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div>Instructores</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/Dashboard/ListaInstructor}" class="menu-link">
                    <div>Lista</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/Dashboard/NuevoInstructor}" class="menu-link">
                    <div>Nuevo Instructor</div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Vehículos -->
            <li class="menu-item">
              <a th:href="@{/Dashboard/Vehiculos}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-car"></i>
                <div data-i18n="Analytics">Vehículos</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="/img/usuario.jpg" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="/img/usuario.jpg" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">Usuario1</span>
                            <small class="text-muted">Administrador</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">Mi Perfil</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/login}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Cerrar Sesión</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- <div class="layout-demo-wrapper">
                <div class="layout-demo-info">
                  <h4>Contenido Inicio</h4>
                </div>
              </div> -->
              <div class="card">
                <h5 class="card-header">Clases de Hoy</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th>Nro </th>
                        <th>Estudiante</th>
                        <th>Instructor</th>
                        <th>Horario</th>
                        <th>Tipo</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>C001</strong></td>
                        <td>Samuel Vela</td>
                        <td>Cristóbal Camacho</td>
                        <td>08:00 - 10:00</td>
                        <td><span class="badge bg-label-primary me-1">Automático</span></td>
                      </tr>

                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>C002</strong></td>
                        <td>María Camila Vásquez</td>
                        <td>Joshua Pérez</td>
                        <td>08:00 - 10:00</td>
                        <td><span class="badge bg-label-primary me-1">Automático</span></td>
                      </tr>

                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>C003</strong></td>
                        <td>Joaquín Pedroza</td>
                        <td>Cristóbal Camacho</td>
                        <td>10:00 - 12:00</td>
                        <td><span class="badge bg-label-secondary me-1">Mecánico</span></td>
                      </tr>

                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>C004</strong></td>
                        <td>Gabriela Armenta</td>
                        <td>Juan Piña</td>
                        <td>14:00 - 16:00</td>
                        <td><span class="badge bg-label-primary me-1">Automático</span></td>
                      </tr>

                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>C005</strong></td>
                        <td>Gabriel Zavala</td>
                        <td>Esteban Rangel</td>
                        <td>14:00 - 16:00</td>
                        <td><span class="badge bg-label-secondary me-1">Mecánico</span></td>
                      </tr>

                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>C006</strong></td>
                        <td>Esteban Martínez</td>
                        <td>Esteban Rangel</td>
                        <td>16:00 - 18:00</td>
                        <td><span class="badge bg-label-secondary me-1">Mecánico</span></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <!-- <div class="layout-overlay layout-menu-toggle"></div> -->
    </div>
    <!-- / Layout wrapper -->



    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <!-- <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script> -->

    <script th:src="@{/js/menu.js}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script th:src="@{/js/main-dashboard.js}"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>