<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manejo+ | Login</title>
    <!-- Fuentes Api Google -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-login.css">

    <!-- Archivos Vendor CSS  -->
    <link href="css/animate.min.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="img/Logo-Negro.svg" />
</head>

<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-6 col-xl-6">
                        <section id="inicio" class="d-none d-xl-block d-lg-block">
                            <div class="hero-container">
                                <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade"
                                    data-bs-ride="carousel">

                                    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                                    <div class="carousel-inner" role="listbox">

                                        <!-- Slide 1 -->
                                        <div class="carousel-item active"
                                            style="background-image: url(img/slide/slide-1.jpg);">
                                            <div class="carousel-container">
                                                <div class="carousel-content">
                                                    <p class="animate__animated animate__fadeInUp">Ingresa a tu portal
                                                        personalizado.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Slide 2 -->
                                        <div class="carousel-item"
                                            style="background-image: url(img/slide/slide-2.jpg);">
                                            <div class="carousel-container">
                                                <div class="carousel-content">
                                                    <p class="animate__animated animate__fadeInUp">Optimiza tu labor
                                                        como instructor.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Slide 3 -->
                                        <div class="carousel-item"
                                            style="background-image: url(img/slide/slide-3.jpg);">
                                            <div class="carousel-container">
                                                <div class="carousel-content">
                                                    <p class="animate__animated animate__fadeInUp">Accede a recursos
                                                        clave.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section><!-- Fin Sección Inicio -->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-6">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <img src="img/Logo-Morado.svg" alt="logo" class="logo">
                            </div>
                            <p class="login-card-description">Iniciar Sesión</p>
                            <form action="#!">
                                <div class="form-group">
                                    <p>Email</p>
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" name="email" id="email" class="form-control"
                                        placeholder="correo@gmail.com">
                                </div>
                                <div class="form-group mb-4">
                                    <p>Contraseña</p>
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" name="password" id="password" class="form-control"
                                        placeholder="***********">
                                </div>
                                <a th:href="@{/Dashboard/Inicio}" name="login" id="login"
                                    class="btn btn-block login-btn mb-4" type="button">Entrar
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
</body>

</html>