<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/plantilla :: head"></head>

<body>
  <div class="layout-wrapper layout-content-navbar">

    <div class="layout-container">
      <aside th:replace="layouts/plantilla :: menu "></aside>

      <div class="layout-page">
        <nav th:replace="layouts/plantilla :: barra"></nav>

        <div class="content-wrapper">

          <!-- Contenido -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <div class="layout-demo-wrapper">
              <div class="layout-demo-info">
                <h4>Nueva Clase</h4>
              </div>
            </div>
          </div>
          <!-- / Contenido -->
          <div class="content-backdrop fade"></div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="layouts/plantilla :: librerias"></div>
</body>

</html>