<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/plantilla :: head"></head>

<body>
  <div class="layout-wrapper layout-content-navbar">

    <div class="layout-container">
      <aside th:replace="layouts/plantilla :: menu "></aside>

      <div class="layout-page">
        <nav th:replace="layouts/plantilla :: barra"></nav>

        <!-- Contenido -->

        <!-- Tabla -->
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
              <h5 class="card-header">Lista de Estudiantes</h5>
              <div class="table-responsive text-nowrap">
                <table class="table table-hover table-striped">
                  <thead class="table-light">
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>DNI</th>
                      <th>Telefono</th>
                      <th>Direccion</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    <tr th:each="item: ${listaEstudiantes}">
                      <td th:text="${item.nombre}"></td>
                      <td th:text="${item.apellido}"></td>
                      <td th:text="${item.dni}"></td>
                      <td th:text="${item.telefono}"></td>
                      <td th:text="${item.direccion}"></td>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/estudiante/mostrarEditar/} + ${item.id}">
                              <i class="bx bx-edit-alt me-1"></i>
                              Editar
                            </a>
                            <a class="dropdown-item" th:href="@{/estudiante/eliminar/} + ${item.id}"
                              onclick="return showConfirmation(this.href,'El estudiante')">
                              <i class="bx bx-trash me-1"></i>
                              Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <div class="content-backdrop fade"></div>
        </div>
        <!-- Contenido -->
      </div>
    </div>
  </div>

  <div th:replace="layouts/plantilla :: librerias"></div>
</body>

</html>