<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/plantilla :: head"></head>

<body>
  <div class="layout-wrapper layout-content-navbar">

    <div class="layout-container">
      <aside th:replace="layouts/plantilla :: menu "></aside>

      <div class="layout-page">
        <nav th:replace="layouts/plantilla :: barra"></nav>

        <div class="content-wrapper">

          <!-- Contenido -->
          <div class="container-xxl flex-grow-1 container-p-y">

            <div class="row">
              <div class="col-md-12">
                <form th:action="@{/estudiante/guardar}" th:object="${estudiante}" method="post">
                  <div class="card">
                    <h5 class="card-header" th:text="${SubItem != null ? SubItem : 'Nuevo Estudiante'}"></h5>
                    <div class="card-body">
                      <input type="hidden" th:field="*{id}">
                      <!-- Nombres y Apellidos -->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-floating mb-3">
                            <input th:field="*{nombre}" type="text" class="form-control" id="floatingInput"
                              placeholder="Juan Carlos" aria-describedby="floatingInputHelp" />
                            <label for="floatingInput">Nombres</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-floating mb-3">
                            <input th:field="*{apellido}" type="text" class="form-control" id="floatingInput"
                              placeholder="Perez Gomez" aria-describedby="floatingInputHelp" />
                            <label for="floatingInput">Apellidos</label>
                          </div>
                        </div>
                      </div>

                      <!-- DNI , Teléfono y Dirección -->
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-floating mb-3">
                            <input th:field="*{dni}" type="text" class="form-control" id="floatingInput"
                              placeholder="74142174" aria-describedby="floatingInputHelp" />
                            <label for="floatingInput">DNI</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-floating mb-3">
                            <input th:field="*{telefono}" type="text" class="form-control" id="floatingInput"
                              placeholder="999341050" aria-describedby="floatingInputHelp" />
                            <label for="floatingInput">Teléfono</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-floating mb-3">
                            <input th:field="*{direccion}" type="text" class="form-control" id="floatingInput"
                              placeholder="Av. Simón Bolívar 850, Pueblo Libre" aria-describedby="floatingInputHelp" />
                            <label for="floatingInput">Dirección</label>
                          </div>
                        </div>
                      </div>

                      <button type="submit" class="btn btn-primary">
                        <span class="tf-icons bx bx-save"></span>
                        Guardar
                      </button>

                    </div>
                </form>

              </div>
            </div>
          </div>

          <!-- / Contenido -->
          <div class="content-backdrop fade"></div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="layouts/plantilla :: librerias"></div>
</body>

</html>